@media (max-width: 768px){
    #home-desc{
        width: 100%;
        position: absolute;
        bottom: 50px;
        left: 0;
        text-align: center;
        background: rgb(115 115 115 / 30%);
    }
}

@media (min-width: 1024px) {
    #servizi, #chi-siamo, #lavori, #shop, #contatti{
        padding-top: 70px;
    }
}

@media (min-width: 992px) {
    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }

    #card-1:hover {
        animation: scale-up-center .5s cubic-bezier(.39, .575, .565, 1.000) both;
        cursor: default;
    }

    #card-2:hover {
        animation: scale-up-center .5s cubic-bezier(.39, .575, .565, 1.000) both;
        cursor: default;
    }

    #card-3:hover {
        animation: scale-up-center .5s cubic-bezier(.39, .575, .565, 1.000) both;
        cursor: default;
    }
}

@media (max-width: 1024px) {
    .mobile {
        display: block;
    }

    #fab-form{
        display: none;
    }

    .desktop {
        display: none;
    }

    .car img{
        margin-left: 0;
    }

    .service-card{
        width: auto !important;
        max-width: 100% !important;
        margin: 30px !important;
        height: auto;
    }
}

@media (max-width: 880px){
    #expanded-menu {
        display: none;
    }

    #small-menu {
        display: block;
        margin-left: 10px;
        margin-top: 5px;
    }
}

/* small */
@media (max-width: 576px) {

    #logo{
        width: 100%;
    }

    .home-text{
        font-size: 35px;
    }

    .logo-title{
        font-size: 15px;
    }

    .under-logo b{
        font-size: 13px;
    }

    #chi-siamo,
    #lavori,
    #shop,
    #contatti {
        height: auto;
    }

    .modale-contatti{
        width: 100%;
        margin-top: 10px;
    }

    .text-shop{
        margin: 40px !important;
    }
}


/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}