@media (max-width: 768px){
    #home-desc{
        width: 100%;
        position: absolute;
        bottom: 50px;
        left: 0;
        text-align: center;
        background: rgb(115 115 115 / 30%);
    }
}

@media (min-width: 1025px) {
    #servizi{
        padding-top: 70px;
    }
}

@media (min-width: 992px) {
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }

    #card-1:hover {
        animation: scale-up-center .5s cubic-bezier(.39, .575, .565, 1.000) both;
        cursor: default;
    }

    #card-2:hover {
        animation: scale-up-center .5s cubic-bezier(.39, .575, .565, 1.000) both;
        cursor: default;
    }

    #card-3:hover {
        animation: scale-up-center .5s cubic-bezier(.39, .575, .565, 1.000) both;
        cursor: default;
    }
}
@media (max-width: 991px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .service-card{
        width: auto !important;
        margin: 30px !important;
    }
}

/* small */
@media (max-width: 576px) {

    #logo{
        width: 100%;
    }

    .home-text{
        font-size: 35px;
    }

    .logo-title{
        font-size: 15px;
    }
    
    #expanded-menu{
        display: none;
    }

    #small-menu{
        display: block;
        margin-left: 10px;
        margin-top: 5px;
    }
}