@media (max-width: 768px){
    #home-desc{
        width: 100%;
        position: absolute;
        bottom: 50px;
        left: 0;
        text-align: center;
        backdrop-filter: blur(22px);
    }
}

/* small */
@media (max-width: 576px) {
    .home-text{
        font-size: 45px;
    }

    .logo-title{
        font-size: 15px;
    }
    
    #expanded-menu{
        display: none;
    }

    #small-menu{
        display: block;
        margin-left: 10px;
        margin-top: 5px;
    }
}